.my__pic {
    border-radius: 50px;
    width: 100px;
    margin-bottom: 2px;
}

h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.my-pic__description {
    display: block;
    font-size: 14px;
}

.container {
    width: 280px;
    margin: 50px 20px;
   font-family: sans-serif;
}

.hire-me__btn {
    width: 50%;
    margin-top: 12px;
    padding: 12px 2px;
    background-color: rgba(0, 0, 0, 0.9);
    border-style: none;
}

.hire-me__btn--link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.about-me__para {
    margin: 0;
    color: rgb(56, 56, 56);
}